[submodule "xchat"]
	path = xchat
	url = https://github.com/xchataqua/xchat.git
[submodule "glib"]
	path = glib
	url = https://github.com/xchataqua/glib.git
[submodule "Mac/Plugins/ruby"]
	path = Mac/Plugins/ruby
	url = https://github.com/xchataqua/xchatruby.git
[submodule "Resources/theme/Solarized"]
	path = Resources/theme/Solarized
	url = https://github.com/xchataqua/xchat-colors-solarized.git
